.boardCell {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: green;
    display: inline-block;
}

.ghost {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: gray;
    display: inline-block;
}


#gameBoard {
    margin: 0 auto;
}

.obstacle {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: blue;
    display: inline-block;
}

.human {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: orange;
    display: inline-block;
}

.floor {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: lightgreen;
    display: inline-block;
}

.coin {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: gold;
    display: inline-block;
}

.chest {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: brown;
    display: inline-block;
}