.boardCell {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: green;
    background-size: contain;
    display: inline-block;
}

.ghost {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/ghost.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}


#gameBoard {
    margin: 0 auto;
}

.obstacle {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/rock.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.human {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/human.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.floor {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/grass.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.coin {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/coin.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.chest {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-image: url("../images/chest.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.infoCoin{
    height: 50px;
    width: 150px;
    text-align: left;
    left: 150px;
    padding: 15px 3px 0 15px;
    margin-left: 50px;
}